@import "../../../global.scss";

.appBar {
  width: 100%;
  position: absolute;
  z-index: 100;
}

.keyImage {
  width: 50px;
  position: relative;
  top: 10px;
}

.keysContainer {
  float: right;
  right: 5%;
  margin: 2rem;
  font-size: 40px;
}

// Mobile Configurations
@media (max-width: $phone) {
  .keyImage {
    width: 25px;
  }
  .keysContainer {
    font-size: 12px;
  }
}

// Tablet
@media (min-width: $phone) and (max-width: $tablet) {
  .keyImage {
    width: 30px;
  }
  .keysContainer {
    font-size: 20px;
  }
}

// small desktop
@media (min-width: $tablet) and (max-width: $desktop) {
  .keyImage {
    width: 40px;
  }
  .keysContainer {
    font-size: 25px;
  }
}
