.back{
	background-color: white;
	border: 1px solid black;
	border-radius: 1em;
	display: inline-block;
	padding: 0.2em 2em 0.2em 2em;
	font-size: large;
	cursor: pointer;
	&:hover{
		background-color: black;
		color: white;
	}
}