


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: GloriaH;
   
}

@font-face { 
    font-family: Cairo;
    src: url('./fonts/Cairo-Light.ttf'); 
   } 

@font-face {
    font-family: GloriaH;
    src: url('./fonts/GloriaHallelujah-Regular.ttf');
}



