.wrapper{
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.content{
	position: relative;
	left: 0;
	top: 0;
	height: 70%;
	width: auto;
	z-index: 1;
}

.background{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}