@import '../../../global.scss';



.Container{
	height: 100%;
	height: -webkit-fill-available;
	display: flex;
	flex-direction: column;
}

.appBar{
	width: 100%;
	display: flex;
	flex: 1;
	background-color: #F8F7F3;
	height: 30vh;
	min-height: 15rem;
}

.headerText{
	flex: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #898989;
	>div>div{
		font-family: Cairo;
		font-weight: 500;
		font-size: 2.5rem;
	}
}

.logoContainer{
	flex:1
}

.main {
	display: flex;
	flex:3;
}

.rightColumn, .leftColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 2rem;
}

.rightColumn{
	flex: 1;
	&::before {
		content: '';
		height: 50%;
		border-left: 1px solid #bcbcbc81;
		position: absolute;
		left: 75%;
	}

	svg {
		width: 3rem;
		max-height: 5rem;
		cursor: pointer;
	}

		li {
			margin: 5rem 1rem;
		}
	
}

.leftColumn{
	flex: 3;
	font-size: 1.5rem;
	span {
		text-decoration: underline;
		
	}

}
