.homeMessage {
	font-family: Cairo;
}

.nextButton {
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
	font-size: 1.4em;
}

.continue {
	font-family: 'Courier New', Courier, monospace;
}