@import '../../../global.scss';



.Container{
	width: 100%;
	max-height: 100vh;
	overflow: hidden;
}



.logoContainer{
	width: 20%;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.menu{
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.textCenter{
	text-align: center;
}

.inspect{
	font-size: 2.5em;
	text-decoration: underline;
}


.tutorial{
	position: absolute;
	bottom: 0;
	right: 0%;
	text-align: right;
	margin: 3rem;
	cursor: pointer;
}



// Mobile Configurations
@media (max-width: $phone)  {
	.logoContainer{
		width: 55%;
	}
	.tutorial{
		margin: 1em;
	}
}


// Tablet
@media (min-width: $phone) and (max-width: $tablet)  {
	.logoContainer{
		width: 45%;
	}
}


// small desktop
@media (min-width: $tablet) and (max-width: $desktop)  {
	.logoContainer{
		width: 35%;
	}
	
}
