@import '../../../global.scss';



.Container{
	
	width: 100%;
	max-height: 100vh;
	padding-top: 10em;
}



.logoContainer{
	
	width: 20%;
	margin: 0 auto 4em auto;
}

.textCenter{
	text-align: center;
}

.inspect{
	font-size: 2.5em;
	text-decoration: underline;
}


.tutorial{
	position: absolute;
	bottom: 0;
	right: 0%;
	text-align: right;
	margin: 3rem;
}



// Mobile Configurations
@media (max-width: $phone)  {
	.logoContainer{
		width: 55%;
		margin: 0 auto 2em auto;
		
	}
	.tutorial{
		margin: 1em;
	}
	
}


// Tablet
@media (min-width: $phone) and (max-width: $tablet)  {
	.logoContainer{
		width: 45%;
		margin: 0 auto 4em auto;
	}
	
}


// small desktop
@media (min-width: $tablet) and (max-width: $desktop)  {
	.logoContainer{
		width: 35%;
		margin: 0 auto 7em auto;
	}
	
}
