.projectsIconContainer {
	height: 15rem;
	svg{
		height: 60%;
		position: relative;
		left: 50%;
		transform: translate(-50%, 25%);
	}
}

.Project{
	border-radius: 1rem;
	width: 80%;
	height: 15rem;
	margin: 2rem auto;
	border: 1px solid #f8f7f3;
	cursor: pointer;
}