.projectsIconContainer {
  height: 15rem;
  svg {
    height: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 25%);
  }
}

.Project {
  overflow: hidden;
  border-radius: 1rem;
  width: 80%;
  height: 15rem;
  margin: 2rem auto;
  border: 3px solid #f8f7f3;
  cursor: pointer;
  position: relative;
  img {
    max-height: 70%;
    max-width: 40%;
    margin-right: 5%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    margin: auto;
    display: inline-block;
  }

  h2 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 5%;
    width: 50%;
  }
}

.cover{
  background-color: #BAB9B6;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}
